@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Raleway';
    list-style: none;
    text-decoration: none;
}

:root{
    --gris-letra:      #666666;
    --gris-titulo:     #393939;
}

/* Inicio header>Nav */

header nav{
    margin-top: 50px;
    height: 92px;
    padding: 0 180px 0 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
}

header nav h1{
    color: var(--gris-titulo);
    font-size: 26px;
    font-weight: 750;
}


header nav div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:15px;
}

header nav div ul{
    display: flex;
    align-items: center;
    gap:33px;
}


header nav div ul li a{
    font-size: 14px;
    color: var(--gris-letra);
    font-weight: 500;
    letter-spacing: 1px;
}

header nav div ul hr{
    height:36px;
    color: #D1D1D1;
    border-style: solid;
    border-radius: 1px;
}

header nav div .cesta{
    width:100px;
    cursor: pointer;
}

header nav div .cesta a{
    font-size: 14px;
    color: var(--gris-letra);
    font-weight: 500;
    letter-spacing: 1px;
}

/* Fin header > nav */

/* Inicio main > aside*/

main{
    padding: 90px 230px 90px 150px;
    display: flex;
    justify-content: space-between;
}

main aside{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
}

main aside ul{
    padding-top: 30px;
    color: #9d9d9d;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap:20px;
}

main aside h3{
    font-size: 20px;
    color:var(--gris-titulo);
}

main .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}

main .contenedor h2{
    padding-right: 300px;
    font-size: 60px;
    color: var(--gris-titulo);
}

main .contenedor .cartas{
    display: flex;
    flex-wrap: wrap;
}

main .contenedor .cartas div{
    border: 1px solid black;
    width: 300px;
    height: 450px;
}