/* font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* settings */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Raleway';
}

/* colores */
:root{
    --naranja: #E55539;
}

/* navbar NATALY */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #666666;
}
.navList{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}
.navList ul{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}
.navList ul hr{
    height: 25px;
}
.navList .navCesta{
    display: flex;
    gap: 12px;
}
.navListLink a{
    color: #a0a0a0;
}

/* novedades mujer NATALY */
.novedadesMujer{
    background-image:url(./assets/images/foto-mujer.jpg);
    background-size:cover;
    height: 300px;
    object-fit: none;
}
.novedadesMujerText{
    display: flex;
    flex-direction: column;
    padding: 65px 100px;
    width: 400px;
}
.novedadesMujerText h3{
    font-size: 14px;
    color: #E55539;
    padding-bottom: 10px;
}
.novedadesMujerText h2{
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 30px;
}
.novedadesMujerText button{
    background-color: #ffffff;
    border: none;
    padding: 10px;
    width: 150px;
    box-shadow: 0px 3px 10px 2px #00000015
}